.input {
	text-align: center;
}

.btn {
	background: #cdf5ff;
	width: 100%;
	height: 50px;
	font-size: .65em;
	border: 2px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.btn:hover {
	background: #ccedff;
	border: 2px solid #ccc;
}